.accessButtons {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background: #333332; /*rgb(238, 238, 238);*/
  transition: width 0.7s;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.8rem;

  .accessButtonsText {
    width: max-content;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.7s all;
    user-select: none;
    color: white;
  }
}

.text_small:hover {
  width: 200px;
}

.text_large:hover {
  width: 300px;
}

.accessButtons:hover {
  .accessButtonsText {
    opacity: 1;
  }
}


