.gear_svg #fork,
.gear_svg #knife {
  
    fill: #413d3d;
    transition: fill 0.7s ease;
  
}

.gear_svg:hover #fork,
.gear_svg:hover #knife {

    fill: #e40b0b;
  
}

.fork_active {
  #knife {
    opacity: 0;
    transition: all;
    transition-duration: 0.7s;
  }

  #fork {
    opacity: 1;
    transition: all;
    transition-duration: 0.7s;
  }
}

.knife_active {
  #fork {
    opacity: 0;
    transition: all;
    transition-duration: 0.7s;
  }

  #knife {
    opacity: 1;
    transition: all;
    transition-duration: 0.7s;
  }
}
