@import 'tailwindcss';

html,
body {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #ffffff;
}

.button_call {
  @apply px-[2.4rem] py-[1.2rem]  bg-amber-50 text-[#333332] text-[1.8rem] cursor-pointer rounded-[2rem] hover:bg-[#333332] hover:text-amber-50 transition-all duration-[0.5s];
}

.dialogue_wrapper {
  @apply w-[30rem] bg-[rgba(255,255,255,0.75)] p-[2rem] flex flex-col gap-[1.2rem] rounded-[1rem] select-none;
}

canvas {
  -moz-user-select: none;
  user-select: none;
  -moz-user-drag: none;
}
